<div style="background: #FFF; width: 80%; margin: auto; padding: 25px;">
  <h3>Album deleted</h3>
  <ul>
    <li>Artist: <%= @album.artist %></li>
    <li>Title: <%= @album.title %></li>
    <li>Year: <%= @album.year %></li>
    <li>Summary: <%= @album.summary %></li>
  </ul>
</div>
